.body{
    background-color: whitesmoke;
    padding: 20px;
}
.head{
    font-size: 35px;
    color: #32a852;
    text-decoration: none;
    
}
.one{
  margin-top: -38px;
}
.two{
    margin-top: -38px;
  }
  .three{
    margin-top: -38px;
  }
  .four{
    margin-top: -38px;
    margin-right: 40px;
  }